@media only screen and (max-width: 768px) {
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }

    body {
        background-image: linear-gradient(to right, #E081FF, #6637E7, #6E89FA, #59B4E3, #62FBE7);
    }

    main {
        background-color: white;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 28.125em;
        height: 30em;
        margin: 3em auto;
    }

    h1 {
        margin: 0.5em;
    }
    
    main p {
        margin: 1em;
    }

    .form-group {
        padding: 1em;
    }

    label {
        display: block;
    }

    .input {
        border-radius: 5px;
        width: 10em;
        height: 2em;
    }

    .btn {
        width: 8em;
        height: 1.5em;
        font-size: 1em;
    }

    a {
        text-decoration: none;
    }

    footer {
        background-color: aliceblue;
        text-align: center;
        position: fixed;
        width: 100%;
        bottom: 0;
    }
}
@media only screen and (max-width: 992px) {
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }

    body {
        background-image: linear-gradient(to right, #E081FF, #6637E7, #6E89FA, #59B4E3, #62FBE7);
    }

    main {
        background-color: white;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 550px;
        height: 30em;
        margin: 3em auto;
    }

    h1 {
        margin: 0.5em;
    }
    
    main p {
        margin: 1em;
    }

    .form-group {
        padding: 1em;
        
    }

    label {
        display: block;
    }

    .input {
        border-radius: 5px;
        width: 16em;
        height: 2em;
    }

    .btn {
        width: 8em;
        height: 1.5em;
        font-size: 1em;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    footer {
        background-color: aliceblue;
        text-align: center;
        position: fixed;
        width: 100%;
        bottom: 0;
    }
}

@media only screen and (min-width: 1000px) {
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }

    body {
        background-image: linear-gradient(to right, #E081FF, #6637E7, #6E89FA, #59B4E3, #62FBE7);
    }

    main {
        background-color: white;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 700px;
        height: 30em;
        margin: 3em auto;
    }

    h1 {
        margin: 0.5em;
    }
    
    main p {
        margin: 1em;
    }

    .form-group {
        padding: 1em;
        
    }

    label {
        display: block;
    }

    .input {
        border-radius: 5px;
        width: 16em;
        height: 2em;
    }

    .btn {
        width: 8em;
        height: 1.5em;
        font-size: 1em;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    footer {
        background-color: aliceblue;
        text-align: center;
        position: fixed;
        width: 100%;
        bottom: 0;
    }
}
